.container{
    text-align: center;
}

.proceedButton{
    user-select: none;
    padding: 2rem;
    border: 2px solid red;
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
}